body {
    background-color: whitesmoke;
    color: #2d3748;
    max-width: 600px;
    margin: 0 auto;
    font-family: sans-serif;
}
h1 {
    text-transform: capitalize;
}
p {
    line-height: 1.6;
}
article + article {
    /*any article after the first one*/
    margin-top: 3rem;
    padding-top: 3rem;
    border-top: 1px solid lightgray;
}
